* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(135deg, #000000 25%, transparent 25%) 10px 0, linear-gradient(225deg, #000000 25%, transparent 25%) 10px 0, linear-gradient(315deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%);
  background-size: 20px 20px;
  background-color: #191511;
  font-family: "Open sans", Helvetica, sans-serif;
  font-size: 18px;
  color: #aaa;
  padding-top: 3em;
}
body #container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  margin-top: -250px;
  margin-left: -400px;
  overflow: hidden;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  min-width: 400px;
}
#right {
  padding-top: 6em;
}
img {
  border: 20px solid #222;
  border-radius: 200px;
}
img.hoverable {
  border: none;
  border-radius: 0;
  margin-right: 6px;
  opacity: .8;
}
img.hoverable:hover {
  opacity: 1;
}
h1 {
  font-size: 32px;
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #eee;
  margin-bottom: 1em;
}
p {
  margin-bottom: 1em;
}
ul {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
}
