doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Joonas Rouhiainen
    link(rel="stylesheet" href="style/style.css")
    link(href="http://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet" type="text/css")
  body
    #container
      .column#left
        img(src="joonas_rouhiainen.jpg" alt="Joonas Rouhiainen")
      .column#right
        h1= page.title
        != page.html
        p Software gardener / Ohjelmistopuutarhuri
        p Aalto University School of Science
        p Helsinki, Finland
        ul
          li
            a(href="http://twitter.com/rjoonas") @rjoonas